#techCheckForm {
    margin-bottom: 20px;
    max-width: 800px;
    margin: 0 auto;
}

#techCheckForm label {
    display: block;
    margin-bottom: 5px;
}

#techCheckForm input {
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

#techCheckForm button {
    padding: 10px 20px;
    font-size: 1rem;
}

#results, #urls {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    max-width: 800px;
    margin: 20px auto;
    /*display: none;  Hide initially */
}

#results div, #urls div {
    margin-bottom: 10px;
}

.result-card {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}

.result-card h3 {
    margin-bottom: 10px;
}

.result-card p {
    margin: 5px 0;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: 0 auto;
  display: none; /* Hide initially */
}


.category {
  margin-bottom: 20px;
}

.tech-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
}

.tech-header {
  display: flex;
  align-items: center;
}

.tech-header img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.tech-header a {
  color: #4D9DE0;
  text-decoration: none;
}

.chart-container {
  position: relative;
  height: 20px;
  background-color: #E1BC29;
  border-radius: 5px;
}

.confidence-chart {
  height: 100%;
  background-color: #3BB273;
  text-align: center;
  line-height: 20px;
  color: #fff;
  border-radius: 5px;
}

.confidence-label {
  text-align: center;
  margin-top: 5px;
  font-size: 0.8rem;
}

.more-info-btn {
  display: block;
  margin: 20px auto;
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  width: 100px;
}
